.base {
  font-family: ABCSans, Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  color: #023860;
  padding-bottom: 40px;
  margin: auto;

  p {
    margin: 0 0 15px 0;
    padding: 0;
  }
}

.ceoSalary {
  font-family: ABCSerif, Book Antiqua, 'Palatino Linotype', Palatino, serif;

  font-weight: bold;
  font-size: 70px;
  line-height: 80px;
  color: #e01b3f;
  margin-bottom: 20px;
}

.workerSalary {
  font-weight: bold;
  color: #00708a;
  font-size: 50px;
  line-height: 60px;
  font-family: ABCSerif, Book Antiqua, 'Palatino Linotype', Palatino, serif;
}

@media screen and (max-device-width: 400px) {
  .base {
    font-size: 17px;
    line-height: 25px;
  }

  .ceoSalary {
    font-size: 50px;
    line-height: 58px;
  }

  .workerSalary {
    font-size: 35px;
    line-height: 40px;
  }
}
